<form method="POST" action="/new">
  <label for="todoName">Name</label>
  <input type="text" name="name">

  <label for="todoDescription">Description</label>
  <input id="todoDescription" type="text" name="description">

  <label for="todoDescription">Completed (true/false):</label>
  <input id="todoDescription" type="text" name="completed">

  <input id="todoName" type="submit">
</form>
